body {
	background: url("../../images/giftastic.png");
	background-size: 100%;
	text-align: center;
}

h1 {
	font-family: lobster;
	font-size: 40px;
	padding-top: 30px;
}

h2 {
	font-family: helvetica;
	font-size: 16px;
	font-style: italic;
	margin-top: 15px;
}

p {
	font-family: helvetica;
	font-style: italic;
	font-size: 12px;
	padding: 10px;
	position: relative;
}

#country-form {
	display: inline;
}

#add-country {
	font-family: helvetica;
	font-size: 12px;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	background-color: white;
}

#country-input {
	font-family: helvetica;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.country {
	display: inline;
	margin: 5px;
	padding: 10px;
	font-family: helvetica;
	font-size: 12px;
	color: white;
	background-color: black;
}

.gifsDiv {
	display: inline;
}

.gif {
	display: inline;
	height: 15%;
}







